.usingai-container {
    height: 100%;
}

.usingai-left {
    border: 6px solid rgba(0, 0, 0, 1);
}

.usingai-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usingai-detail-top {
    background: rgba(255, 255, 255, 1);
    border: 0px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70%;
    padding: 24px;
}

.usingai-detail-middle {
    background: rgba(197, 255, 244, 1);
    height: 15%;
    padding: 24px;
}

.usingai-detail-bottom {
    height: 15%;
    display: flex;
    align-items: center;
}

